#choose-us.choose-us{
  padding: 50px;
  .title-choose-us{
    font-size: 50px;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 30px;
  }
  .content-choose-us{
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
  }

  //box choose us
  .box-choose-us{
    .item-choose{
      width: 25%;
      display: block;
      float: left;
      text-align: center;
      img{
        height: 80px;
        margin-bottom: 20px;
      }
      .name-choose{
        a{
          font-size: 22px;
          color: $color-input-btn;
        }
      }
    }
  }
}