main{
  background: $color-header;
  .box-tab-panel{
/*control tab panel*/
    ul.control-tab-panel-home{
      border: none;
      width: 355px;
      margin: auto;
      padding: 10px 0;
      >li{
        margin-bottom: 0;
        &:hover{
          margin-bottom: 0;
        }
        >a{
          color: #ffffff;
          text-transform: uppercase;
          margin: 0;
          border: none;
          border-image-width: 0;
          padding:2px 15px;
          &:hover{
            background: transparent;
            border: none;
            margin: 0;
            background: $color-input-btn;
            color: #ffffff;
            border-radius: 0;
          }
          &:focus{
            background: transparent;
            outline: none;
            border: none;
          }
        }
      }
      li.active{
        a{
          background: $color-input-btn;
          color: #ffffff;
          border-radius: 0;
        }
      }
    }
/*content tab panel*/
    div.tab-panel-home{
      >div{
        >img{
          width: 100%;
          height: 220px;
        }
      }
    }
  }
}